*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width:100%;
  background-color: black;
}
#child{
  width:100%;
  height: 2000px;
  background-color: rgb(45, 42, 42);
}
#child2{
  width:100%;
  height: 2000px;
  background-color: rgb(123, 100, 100);
}
#sticky{
position: sticky;
top: 0;
  width:300px;
  height: 200px;
  background-color: rgb(255, 0, 0);
 
}