*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* jitni hieght width hogi utni hi height width lena hai extra nhi isliye box-sizing: border-box use karte hai */
}
html, body{
  height: 100%;
  width: 100%;
}
#main{
  height: 100%;
  width: 100%;
  background-color: rgb(26, 15, 15);
  padding: 20px;
}
.class{
  height: 400px;
  width: 450px;
  background-color: crimson;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.class img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.bottom{
  height: 40%;
  width: 100%;
  background-color: crimson;
  position: absolute; /* absolute ka use element ko kisi specific position pe rakhne ke liye hota hai  lekin iski wajah se element ke relative position ke saath hi work karega nhi to element parent ke respe t nhi work karke body ke respect me krne lgta hai*/
  transition: all ease 1.9s;
display: flex; /* flex use isliye karte hai taki hum elements ko easily align kar sake */
align-items: center;
justify-content: space-between;
padding: 0 20px;
  bottom: -50%;

}
.bottom h4, .bottom h3{
  color: white;
  text-align: center;
  margin-top: 10px;
}

.class:hover .bottom{
  background-color: rgb(122, 122, 135);
 bottom: 11%;
  box-shadow: rgb(249, 37, 0) 0 0 20px;
}
.class:hover img{
  rotate: 40deg;
}
.class:hover{
  box-shadow: 0 0 20px white;
} 
