*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  perspective: 180px; /* perspective ka use 3D effect dene ke liye hota hai */
}
#box{
  height: 200px;
  width: 200px;
  background-color: blue;
  transform: translatey(100%) /* translatey ka use element ko vertical direction me move karne ke liye hota hai */ ;
  transform: rotate(50deg) rotateX(50deg) rotateZ(50deg) scale(1.3) ; /* rotate ka use element ko ghumane ke liye hota hai */
  
}